public/configuration.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
  </head>
  <body>
    <div id="siteWrapper">
      <div id="open">
        <nav class="desktop-nav dark">
          <ul>
            <li>
                        <div class="logo-wrapper"><a class="logo" href="/">PDK</a></div>
            </li>
            <li><a href="index.html">Person</a>
            </li>
            <li><a href="configuration.html">Configuration</a>
            </li>
            <li class="right">
                        <article class="rack cf">
                                    <div class="search-widget" data-target="search-results.html">
                                      <div class="searchfield">
                                        <div class="icon-search"></div>
                                        <input type="text">
                                      </div>
                                    </div>
                        </article>
            </li>
          </ul>
        </nav>
        <div class="panel-wrap light">
          <section class="panel">
            <div class="clear-wrap">
              <h3>Configuration</h3>
                        <div class="tabs-widget">
                          <ul class="tabs">
                            <li data-target="Devices">Devices</li>
                            <li data-target="Connections">Connections</li>
                            <li data-target="Discovery">Discovery</li>
                            <li data-target="Config">Config</li>
                            <li data-target="Diagnostics">Diagnostics</li>
                            <hr>
                          </ul>
                          <section class="tabs-wrapper">
                                      <section class="tab-element">
                                      </section>
                                      <section class="tab-element">
                                      </section>
                                      <section class="tab-element">
                                      </section>
                                      <section class="tab-element active">
                                        <div class="clear-wrap">
                                          <h4>Common</h4>
                                          <segment-elem class="fourths">
                                            <x-cell>
                                              <div class="form-element">
                                                <input type="text"/>
                                                <label>Log Purge Days</label>
                                              </div>
                                            </x-cell>
                                            <x-cell>
                                              <div class="form-element">
                                                <select>
                                                  <option>--</option>
                                                  <option data-title="NA" value="na">NA</option>
                                                </select>
                                              </div>
                                            </x-cell>
                                            <x-cell>
                                              <div class="form-element">
                                                <select>
                                                  <option>--</option>
                                                  <option data-title="NA" value="na">NA</option>
                                                </select>
                                              </div>
                                            </x-cell>
                                          </segment-elem>
                                        </div>
                                        <div class="clear-wrap">
                                          <h4>Card Format</h4>
                                          <segment-elem class="fourths">
                                            <x-cell>
                                              <div class="form-element">
                                                <select>
                                                  <option>--</option>
                                                  <option data-title="NA" value="na">NA</option>
                                                </select>
                                              </div>
                                            </x-cell>
                                            <x-cell>
                                              <div class="form-element">
                                                          <div class="left-justify button-module"><a class="button" href="">Manage Card Formats</a></div>
                                              </div>
                                            </x-cell>
                                          </segment-elem>
                                        </div>
                                        <div class="clear-wrap wire-ping" id="videoIntercomConnections">
                                          <h4>
                                             Video Intercom Connections
                                            <div class="add-icon modal trigger" data-target="callboxAdd"></div>
                                          </h4>
                                          <div class="video-intercom-connections-wrapper"></div>
                                          <div class="modal window" id="callboxAdd">
                                            <h3>New Connection</h3>
                                            <div class="clear-wrap" id="manSelection">
                                              <div class="form-element">
                                                <select id="videoIntercomManufacturer">
                                                  <option>Manufacturer</option>
                                                  <option data-title="Comelit" value="comelit">Comelit</option>
                                                  <option data-title="Another Manufacturer" value="another_manufacturer">Another Manufacturer</option>
                                                </select>
                                              </div>
                                              <segment-elem class="half">
                                                <x-cell>
                                                  <prime-segment>
                                                    <x-major id="id32">
                                                      <div class="form-element">
                                                        <input type="text"/>
                                                        <label>Comelit ID32</label>
                                                      </div>
                                                    </x-major>
                                                    <x-minor><i class="icon-info more-info-icon">
                                                        <div class="info-window">
                                                          <p>
                                                             The Comelit ID32 can be found here:   <br>1. Go to your Muti User Gateway Admin<br>2. Select the "Mug Interfaces Device Info" tab<br>3. Find the id under the "ID32" field</p>
                                                        </div></i></x-minor>
                                                  </prime-segment>
                                                </x-cell>
                                                <x-cell>
                                                  <prime-segment>
                                                    <x-major id="friendlyName">
                                                      <div class="form-element">
                                                        <input type="text"/>
                                                        <label>Name</label>
                                                      </div>
                                                    </x-major>
                                                    <x-minor><i class="icon-info more-info-icon">
                                                        <div class="info-window right-hand">
                                                          <p> <strong>Friendly Name:</strong><br>Name presented to you within the app.</p>
                                                        </div></i></x-minor>
                                                  </prime-segment>
                                                </x-cell>
                                              </segment-elem>
                                              <div class="wrap">
                                                <h4>Login</h4>
                                                <segment-elem class="half">
                                                  <x-cell id="manUsername">
                                                    <div class="form-element">
                                                      <input type="email" data-validate="email"/>
                                                      <label>Username</label>
                                                    </div>
                                                  </x-cell>
                                                  <x-cell></x-cell>
                                                </segment-elem>
                                                <segment-elem class="half">
                                                  <x-cell id="manPassword">
                                                    <div class="form-element">
                                                      <input type="password"/>
                                                      <label>Password</label>
                                                    </div>
                                                  </x-cell>
                                                  <x-cell id="manPasswordConfirm">
                                                    <div class="form-element">
                                                      <input type="password"/>
                                                      <label>Confirm Password</label>
                                                    </div>
                                                  </x-cell>
                                                </segment-elem>
                                              </div>
                                              <segment-elem class="fourths">
                                                <x-cell></x-cell>
                                                <x-cell></x-cell>
                                                <x-cell>
                                                  <div class="center-justify" style="padding-top: 10px"><a class="close-modal close-dialogue" href="#">Cancel</a></div>
                                                </x-cell>
                                                <x-cell>
                                                            <div class="button-module"><a class="button extend" href="" id="saveManufacturer">Save</a></div>
                                                </x-cell>
                                              </segment-elem>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="clear-wrap">
                                          <h4>Ecards</h4>
                                                    <segment-elem class="fifths">
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                    </segment-elem>
                                                    <segment-elem class="fifths">
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                                <x-cell>
                                                                  <div class="form-element">
                                                                    <input type="text"/>
                                                                  </div>
                                                                </x-cell>
                                                    </segment-elem>
                                        </div>
                                      </section>
                                      <section class="tab-element">
                                      </section>
                          </section>
                        </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
<script>
  // sets default value for manufacturer dropdown on "New Connection" dialogue
  $('#videoIntercomManufacturer').val('comelit');
  
  function resetForm() {
  	$('#manSelection select').val('comelit');
  	$('#id32 input').val('');
  	$('#friendlyName input').val('');
  	$('#manUsername input').val('');
  	$('#manPassword input').val('');
  	$('#manPasswordConfirm input').val('');
  	$('.modal.window .form-element').removeClass('has-value');
  }
  
  $('body').on('click', '.close-dialogue', function(e) {
  	e.preventDefault();
  	resetForm();
  });
  
  $('body').on('click', '#saveManufacturer', function(e) {
  	e.preventDefault();
  	var manCo = $('#manSelection option:selected').attr('data-title');
  	var friendlyName = $('#friendlyName input').val();
  	var newManufacturer = `<div class="man-wrap"><div class="friendly-name">${friendlyName}</div><div class="man-co">${manCo}</div><div class="sync-status"><div class="status-dot"></div><span class="sync-text">Awaiting Sync</span></div></div>`;
  	$('.video-intercom-connections-wrapper').append(newManufacturer);
  	if ($('.man-wrap').length > 2) {
  		var thisItem = $('.man-wrap').length - 1;
  		setTimeout(function() {
  			$('.sync-text').eq(thisItem).text('Failed');
  			$('.status-dot').eq(thisItem).addClass('orange');
  		}, 2000);
  	}
  	else {
  		setTimeout(function() {
  			$('.sync-text').text('Synced');
  			$('.status-dot').addClass('green');
  		}, 2000);
  	}
  	$('.close-modal').click();
  });
  
  $('i.more-info-icon').on('click', function() {
  	if ($('.info-window', this).hasClass('active')) {
  		$('.info-window').removeClass('active');
  		$('.info-window').addClass('hidden');
  	}
  	else if ($('.info-window.active').length > 0) {
  		$('.info-window').removeClass('active');
  		$('.info-window').addClass('hidden');
  		$('.info-window', this).removeClass('hidden');
  		$('.info-window', this).addClass('active');
  	}
  	else {
  		$('.info-window', this).removeClass('hidden');
  		$('.info-window', this).addClass('active');
  	}
  });
</script>

__pages__/configuration.pug
extend __core__/default
block content
	+panel().light
		div.clear-wrap
			h3 Configuration
			+tabs(["Devices", "Connections", "Discovery", "Config", "Diagnostics"])
				+tab()
				+tab()
				+tab()
				+tab("active")
					div.clear-wrap
						h4 Common
						segment-elem.fourths
							x-cell
								+input("Log Purge Days")
							x-cell
								+select(["English", "Russian"])
							x-cell
								+select(["Time Zone"])
					div.clear-wrap
						h4 Card Format
						segment-elem.fourths
							x-cell
								+select(["Time Zone"])
							x-cell
								.form-element
									+button({title: "Manage Card Formats"})
					div.clear-wrap.wire-ping#videoIntercomConnections
						h4 
							| Video Intercom Connections
							div.add-icon.modal.trigger(data-target="callboxAdd")
						div.video-intercom-connections-wrapper
						div.modal.window#callboxAdd
							h3 New Connection
							div.clear-wrap#manSelection
								+select({default: "Manufacturer", list: ["Comelit", "Another Manufacturer"]})#videoIntercomManufacturer
								segment-elem.half
									x-cell
										prime-segment
											x-major#id32
												+input("Comelit ID32")
											x-minor
												i.icon-info.more-info-icon
													div.info-window
														p 
															| The Comelit ID32 can be found here:   
															br
															| 1. Go to your Muti User Gateway Admin
															br
															| 2. Select the "Mug Interfaces Device Info" tab
															br
															| 3. Find the id under the "ID32" field
									x-cell
										prime-segment
											x-major#friendlyName
												+input("Name")
											x-minor
												i.icon-info.more-info-icon
													div.info-window.right-hand
														p 
															strong Friendly Name:
															br
															| Name presented to you within the app.
								.wrap
									h4 Login
									segment-elem.half
										x-cell#manUsername
											+email("Username")
										x-cell
									segment-elem.half
										x-cell#manPassword
											+password("Password")
										x-cell#manPasswordConfirm
											+password("Confirm Password")
								segment-elem.fourths
									x-cell
									x-cell
									x-cell
										div.center-justify(style="padding-top: 10px")
											a(href="#").close-modal.close-dialogue Cancel
									x-cell
										+button({title: "Save", position: "extend"})#saveManufacturer
					div.clear-wrap
						h4 Ecards
						+loop(2)
							segment-elem.fifths
								+loop(5)
									x-cell
										+input()
				+tab()

block script
	script.
		// sets default value for manufacturer dropdown on "New Connection" dialogue
		$('#videoIntercomManufacturer').val('comelit');
		
		function resetForm() {
			$('#manSelection select').val('comelit');
			$('#id32 input').val('');
			$('#friendlyName input').val('');
			$('#manUsername input').val('');
			$('#manPassword input').val('');
			$('#manPasswordConfirm input').val('');
			$('.modal.window .form-element').removeClass('has-value');
		}
		
		$('body').on('click', '.close-dialogue', function(e) {
			e.preventDefault();
			resetForm();
		});
		
		$('body').on('click', '#saveManufacturer', function(e) {
			e.preventDefault();
			var manCo = $('#manSelection option:selected').attr('data-title');
			var friendlyName = $('#friendlyName input').val();
			var newManufacturer = `<div class="man-wrap"><div class="friendly-name">${friendlyName}</div><div class="man-co">${manCo}</div><div class="sync-status"><div class="status-dot"></div><span class="sync-text">Awaiting Sync</span></div></div>`;
			$('.video-intercom-connections-wrapper').append(newManufacturer);
			if ($('.man-wrap').length > 2) {
				var thisItem = $('.man-wrap').length - 1;
				setTimeout(function() {
					$('.sync-text').eq(thisItem).text('Failed');
					$('.status-dot').eq(thisItem).addClass('orange');
				}, 2000);
			}
			else {
				setTimeout(function() {
					$('.sync-text').text('Synced');
					$('.status-dot').addClass('green');
				}, 2000);
			}
			$('.close-modal').click();
		});
		
		$('i.more-info-icon').on('click', function() {
			if ($('.info-window', this).hasClass('active')) {
				$('.info-window').removeClass('active');
				$('.info-window').addClass('hidden');
			}
			else if ($('.info-window.active').length > 0) {
				$('.info-window').removeClass('active');
				$('.info-window').addClass('hidden');
				$('.info-window', this).removeClass('hidden');
				$('.info-window', this).addClass('active');
			}
			else {
				$('.info-window', this).removeClass('hidden');
				$('.info-window', this).addClass('active');
			}
		});
