public/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/wc-segments.lib.min.css">
    <script src="js/segments.lib.js"></script>
  </head>
  <body>
    <div id="siteWrapper">
      <div id="open">
        <nav class="desktop-nav dark">
          <ul>
            <li>
                        <div class="logo-wrapper"><a class="logo" href="/">PDK</a></div>
            </li>
            <li><a href="index.html">Person</a>
            </li>
            <li><a href="configuration.html">Configuration</a>
            </li>
            <li class="right">
                        <article class="rack cf">
                                    <div class="search-widget" data-target="search-results.html">
                                      <div class="searchfield">
                                        <div class="icon-search"></div>
                                        <input type="text">
                                      </div>
                                    </div>
                        </article>
            </li>
          </ul>
        </nav>
        <div class="panel-wrap light">
          <section class="panel">
            <div class="clear-wrap">
              <segment-elem class="half header-actions">
                <x-cell> 
                  <h4><i class="icon-arrow-left"></i>Person</h4>
                </x-cell>
                <x-cell class="right-justify">
                  <p><a>Recent Audit Logs</a><i class="icon-delete"></i></p>
                </x-cell>
              </segment-elem>
            </div>
            <prime-segment class="person-details">
              <x-minor>
                <div class="porthole" style="width: 200px; height: 200px">
                  <div class="image-widget"></div>
                </div>
                <p class="center-justify"> <a>EDIT PHOTO</a></p>
              </x-minor>
              <x-major>
                <segment-elem class="thirds">
                  <x-cell>
                    <div class="form-element">
                      <input type="text"/>
                      <label>First Name</label>
                    </div>
                  </x-cell>
                  <x-cell>
                    <div class="form-element">
                      <input type="text"/>
                      <label>Last Name</label>
                    </div>
                  </x-cell>
                  <x-cell>
                    <div class="form-element">
                      <select>
                        <option>--</option>
                        <option data-title="NA" value="na">NA</option>
                      </select>
                    </div>
                  </x-cell>
                </segment-elem>
                <segment-elem class="thirds">
                  <x-cell>
                    <div class="form-element">
                      <select>
                        <option>--</option>
                        <option data-title="NA" value="na">NA</option>
                      </select>
                    </div>
                  </x-cell>
                  <x-cell>
                    <div class="form-element">
                      <select>
                        <option>--</option>
                        <option data-title="NA" value="na">NA</option>
                      </select>
                    </div>
                  </x-cell>
                  <x-cell>
                    <div class="form-element">
                      <div class="form-switch-widget">
                        <div class="switch-item">
                          <input type="checkbox" name="Enabled Account" value="enabled account" id="enabled account"/>
                          <label for="enabled account">Enabled Account</label>
                        </div>
                      </div>
                    </div>
                  </x-cell>
                </segment-elem>
                <segment-elem class="thirds">
                  <x-cell>
                    <div class="form-element">
                      <input type="email" data-validate="email"/>
                      <label>Email</label>
                    </div>
                  </x-cell>
                  <x-cell>
                    <div class="form-element">
                      <input type="password"/>
                      <label>PIN</label>
                    </div>
                  </x-cell>
                  <x-cell>
                    <div class="form-element">
                      <input type="password"/>
                      <label>Duress PIN</label>
                    </div>
                  </x-cell>
                </segment-elem>
              </x-major>
            </prime-segment>
            <prime-segment class="person-details">
              <x-minor></x-minor>
              <x-major>
                <div class="clear-wrap">
                  <segment-elem class="thirds">
                    <x-cell>
                      <h4>
                         Credentials
                        <div class="add-icon"></div>
                      </h4>
                      <p>Mobile</p>
                      <p>iPhone</p>
                      <p>Bluetooth</p>
                    </x-cell>
                    <x-cell>
                      <h4>
                         Groups
                        <div class="add-icon"></div>
                      </h4>
                      <p>9 -5 Group</p>
                      <p>Restricted Fitness Center</p>
                    </x-cell>
                    <x-cell>
                      <h4>&nbsp;</h4>
                      <p>admin</p>
                    </x-cell>
                  </segment-elem>
                </div>
                <div class="clear-wrap wire-ping" style="margin-bottom: 60px">
                  <h4 class="comelit-title">
                     Video Intercom Link
                    <div class="add-icon add-comelit-stuff modal trigger" data-target="videoIntercomModal"></div>
                  </h4>
                  <div class="comelit-items-wrapper"></div>
                  <div class="modal window" id="videoIntercomModal">
                    <h3>New Link</h3>
                    <div class="clear-wrap">
                      <segment-elem class="half">
                        <x-cell>
                          <p>Intercom</p>
                          <div id="intercomId">
                            <div class="form-element">
                              <select>
                                <option>Select an Intercom</option>
                                <option data-title="16983699" value="16983699">16983699</option>
                                <option data-title="06896564" value="06896564">06896564</option>
                                <option data-title="04709754" value="04709754">04709754</option>
                                <option data-title="47347817" value="47347817">47347817</option>
                                <option data-title="39478170" value="39478170">39478170</option>
                              </select>
                            </div>
                          </div>
                        </x-cell>
                        <x-cell>
                          <p>Unit</p>
                          <div id="unitName">
                            <div class="form-element">
                              <select>
                                <option>Select a Unit</option>
                                <option data-title="14A" value="14a">14A</option>
                                <option data-title="14B" value="14b">14B</option>
                                <option data-title="14C" value="14c">14C</option>
                                <option data-title="15A" value="15a">15A</option>
                                <option data-title="15B" value="15b">15B</option>
                                <option data-title="15C" value="15c">15C</option>
                              </select>
                            </div>
                          </div>
                        </x-cell>
                      </segment-elem>
                    </div>
                    <div class="clear-wrap">
                      <div class="phone-mode-wrapper">
                        <div class="talk-modes">
                          <div class="radio-widget">
                            <div class="form-element"><span class="radio">
                                <input type="radio" name="Phone Status" value="phone" id="u7b11" data-value="Phone"/>
                                <label for="u7b11">Phone</label></span><span class="radio">
                                <input type="radio" name="Phone Status" value="do not call" id="u7b12" data-value="Do Not Call"/>
                                <label for="u7b12">Do Not Call</label></span>
                            </div>
                          </div>
                        </div>
                        <div class="phone-entry">
                          <segment-elem class="half">
                            <x-cell>
                              <div class="form-element">
                                <input type="text"/>
                                <label>Phone Number</label>
                              </div>
                            </x-cell>
                          </segment-elem>
                        </div>
                      </div>
                    </div>
                    <div>
                      <segment-elem class="fourths" style="margin-top: 170px; margin-bottom: -20px">
                        <x-cell></x-cell>
                        <x-cell></x-cell>
                        <x-cell>
                          <div class="center-justify" style="padding-top: 10px"><a class="close-modal close-dialogue" href="#">Cancel</a></div>
                        </x-cell>
                        <x-cell>
                                    <div class="button-module"><a class="button extend" href="" id="saveLink">Save</a></div>
                        </x-cell>
                      </segment-elem>
                    </div>
                  </div>
                </div>
                <div class="clear-wrap">
                  <segment-elem class="thirds">
                    <x-cell>
                      <h4>
                         Rules
                        <div class="add-icon"></div>
                      </h4>
                      <p> 
                        <div class="status-dot green"></div>Allowed
                      </p>
                    </x-cell>
                    <x-cell>
                      <h4>&nbsp;</h4>
                      <p>CEO Office</p>
                    </x-cell>
                    <x-cell>
                      <h4>&nbsp;</h4>
                      <p>09:00 - 17:00</p>
                      <p>(9:00 AM - 5:00 PM)</p>
                      <p>Mon, Tue, Wed, Thu, Fri</p>
                    </x-cell>
                  </segment-elem>
                </div>
              </x-major>
            </prime-segment>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
<div class="footer-nav"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/main.lib.js"></script>
<script src="js/magicVial-0.6.2.js"></script>
<script>
  // set phone option as default
  $('.talk-modes input[value="phone"]').prop( "checked", true );
  $('.talk-modes').next(".phone-entry").slideDown(150);
  
  function resetForm() {
  	$("#intercomId select").prop("selectedIndex", 0);
  	$("#unitName select").prop("selectedIndex", 0);
  	$('.talk-modes input[value="phone"]').click();
  	$('.phone-entry input').val('');
  	$('.modal.window .form-element').removeClass('has-value');
  }
  
  $('.comelit-items-wrapper').on('click', '.talk-modes input[type="radio"]:nth-child(odd)', function() {
  	console.log($(this).parents(".talk-modes"));
  	if ($(this).val() === 'phone') {
  		$(this).parents('.talk-modes').next(".phone-entry").slideDown(150);
  	}
  	else {
  		$(this).parents('.talk-modes').next(".phone-entry").slideUp(150);
  	}
  });
  var comelitEntries = [{
  	"gateway" : "", 
  	"unit" : "",
  	"phone" : ""
  }];
  
  $('body').on('click', '.close-dialogue', function(e) {
  	e.preventDefault();
  	resetForm();
  });
  
  $('body').on('click', '#saveLink', function(e) {
  	e.preventDefault();
  	var intercomId = $('#intercomId select').val();
  	var unitName = $('#unitName select').val();
  	var phoneStatus = $('.talk-modes input:checked').attr("data-value");
  	if (phoneStatus === "Phone") {
  		phoneStatus = '<i class="icon-phone"></i>' + $('.phone-entry input').val();
  	}
  	
  	var newUnitLink = `<div class="man-wrap"><div class="friendly-name">${unitName}</div><div class="phone-status-readout">${phoneStatus}</div><div class="sync-status"><div class="status-dot"></div><span class="sync-text">Awaiting Sync</span></div></div>`;
  	console.log(unitName);
  	$('.comelit-items-wrapper').append(newUnitLink);
  	if ($('.man-wrap').length > 2) {
  		var thisItem = $('.man-wrap').length - 1;
  		setTimeout(function() {
  			$('.sync-text').eq(thisItem).text('Failed');
  			$('.status-dot').eq(thisItem).addClass('orange');
  		}, 2000);
  	}
  	else {
  		setTimeout(function() {
  			$('.sync-text').text('Synced');
  			$('.status-dot').addClass('green');
  		}, 2000);
  	}
  	$('.close-modal').click();
  });
  
  $('body').on('click', '.talk-modes input[type="radio"]', function() {
  	if ($(this).val() === 'phone') {
  		$(this).parents('.talk-modes').next(".phone-entry").slideDown(150);
  	}
  	else {
  		$(this).parents('.talk-modes').next(".phone-entry").slideUp(150);
  	}
  });
  
  
  	
</script>

__pages__/index.pug
extend __core__/default
block content
	+panel().light
		div.clear-wrap
			segment-elem.half.header-actions
				x-cell 
					h4
						i.icon-arrow-left
						| Person
				x-cell.right-justify
					p
						a Recent Audit Logs
						i.icon-delete
		prime-segment.person-details
			x-minor
				+porthole(200)
				p.center-justify 
					a EDIT PHOTO
			x-major
				segment-elem.thirds
					x-cell
						+input("First Name")
					x-cell
						+input("Last Name")
					x-cell
						+select(["Default"])
				segment-elem.thirds
					x-cell
						+select(["Active Date"])
					x-cell
						+select(["Expire Date"])
					x-cell
						+switch("Enabled Account")
				segment-elem.thirds
					x-cell
						+email("Email")
					x-cell
						+password("PIN")
					x-cell
						+password("Duress PIN")

		prime-segment.person-details
			x-minor
			x-major
				div.clear-wrap
					segment-elem.thirds
						x-cell
							h4 
								| Credentials
								div.add-icon
							p Mobile
							p iPhone
							p Bluetooth
						x-cell
							h4 
								| Groups
								div.add-icon
							p 9 -5 Group
							p Restricted Fitness Center
						x-cell
							h4 &nbsp;
							p admin
				div.clear-wrap.wire-ping(style="margin-bottom: 60px")
					h4.comelit-title 
						| Video Intercom Link
						div.add-icon.add-comelit-stuff.modal.trigger(data-target="videoIntercomModal")
					div.comelit-items-wrapper
					div#videoIntercomModal.modal.window
						h3 New Link
						div.clear-wrap
							segment-elem.half
								x-cell
									p Intercom
									div#intercomId
										+select({default: "Select an Intercom", list: ["16983699", "06896564", "04709754", "47347817", "39478170"]})
								x-cell
									p Unit
									div#unitName
										+select({default: "Select a Unit", list: ["14A", "14B", "14C", "15A", "15B", "15C"]})
						div.clear-wrap
							div.phone-mode-wrapper
								div.talk-modes
									+radio("Phone Status", ["Phone", "Do Not Call"])
								div.phone-entry
									segment-elem.half
										x-cell
											+input("Phone Number")
						div
							segment-elem.fourths(style="margin-top: 170px; margin-bottom: -20px")
								x-cell
								x-cell
								x-cell
									div.center-justify(style="padding-top: 10px")
										a(href="#").close-modal.close-dialogue Cancel
								x-cell
									+button({title: "Save", position: "extend"})#saveLink
				div.clear-wrap
					segment-elem.thirds
						x-cell
							h4 
								| Rules
								div.add-icon
							p 
								div.status-dot.green
								| Allowed
						x-cell
							h4 &nbsp;
							p CEO Office
						x-cell
							h4 &nbsp;
							p 09:00 - 17:00
							p (9:00 AM - 5:00 PM)
							p Mon, Tue, Wed, Thu, Fri
					
block script
	script.
		// set phone option as default
		$('.talk-modes input[value="phone"]').prop( "checked", true );
		$('.talk-modes').next(".phone-entry").slideDown(150);
		
		function resetForm() {
			$("#intercomId select").prop("selectedIndex", 0);
			$("#unitName select").prop("selectedIndex", 0);
			$('.talk-modes input[value="phone"]').click();
			$('.phone-entry input').val('');
			$('.modal.window .form-element').removeClass('has-value');
		}
		
		$('.comelit-items-wrapper').on('click', '.talk-modes input[type="radio"]:nth-child(odd)', function() {
			console.log($(this).parents(".talk-modes"));
			if ($(this).val() === 'phone') {
				$(this).parents('.talk-modes').next(".phone-entry").slideDown(150);
			}
			else {
				$(this).parents('.talk-modes').next(".phone-entry").slideUp(150);
			}
		});
		var comelitEntries = [{
			"gateway" : "", 
			"unit" : "",
			"phone" : ""
		}];
		
		$('body').on('click', '.close-dialogue', function(e) {
			e.preventDefault();
			resetForm();
		});
		
		$('body').on('click', '#saveLink', function(e) {
			e.preventDefault();
			var intercomId = $('#intercomId select').val();
			var unitName = $('#unitName select').val();
			var phoneStatus = $('.talk-modes input:checked').attr("data-value");
			if (phoneStatus === "Phone") {
				phoneStatus = '<i class="icon-phone"></i>' + $('.phone-entry input').val();
			}
			
			var newUnitLink = `<div class="man-wrap"><div class="friendly-name">${unitName}</div><div class="phone-status-readout">${phoneStatus}</div><div class="sync-status"><div class="status-dot"></div><span class="sync-text">Awaiting Sync</span></div></div>`;
			console.log(unitName);
			$('.comelit-items-wrapper').append(newUnitLink);
			if ($('.man-wrap').length > 2) {
				var thisItem = $('.man-wrap').length - 1;
				setTimeout(function() {
					$('.sync-text').eq(thisItem).text('Failed');
					$('.status-dot').eq(thisItem).addClass('orange');
				}, 2000);
			}
			else {
				setTimeout(function() {
					$('.sync-text').text('Synced');
					$('.status-dot').addClass('green');
				}, 2000);
			}
			$('.close-modal').click();
		});
		
		$('body').on('click', '.talk-modes input[type="radio"]', function() {
			if ($(this).val() === 'phone') {
				$(this).parents('.talk-modes').next(".phone-entry").slideDown(150);
			}
			else {
				$(this).parents('.talk-modes').next(".phone-entry").slideUp(150);
			}
		});
		
		
			
